<!doctype html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
  </head>
  <body>
    <div id='app'>
      <tree></tree>
    </div>
    <script type='x-template' id='tree'>
      <div>
	<div v-for="file in files">
	  <div v-if="file.tag == 'folder'" v-on:click='toggleExpand()'>
	    {{file.name}}/
	  </div>
	  <div v-else>
	    {{file.name}}
	  </div>
	</div>
      </div>
    </script>
    <script>
      let files = [
        {tag: 'folder', name: 'dir1'},
        {tag: 'folder', name: 'dir2'},
        {tag: 'file', name: 'file1'}
      ]
      Vue.component('tree',{
        template: '#tree',
        methods: {
          toggleExpand: function(){
            console.log('togglin!')
          }
        },
        data(){
          return {
            files
          }
        }
      })
      new Vue({
        el: '#app'
      })
    </script>
  </body>
</html>
