<!doctype html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
  </head>
  <body>
    <div id='app'>
      <tree></tree>
    </div>
    <script type='x-template' id='tree'>
      <div>
	<div v-for="file in files">
	  <folder v-if="file.tag == 'folder'" :file='file'></folder>
	  <div v-else>
	    {{file.name}}
	  </div>
	</div>
      </div>
    </script>
    <script type="x-template" id='folder'>
      <div v-on:click="toggleExpand()">
        {{file.name}}/
        <span v-if='isOpen'>show children</span>
      </div>
    </script>
    <script>
      let files = [
        {tag: 'folder', name: 'dir1'},
        {tag: 'folder', name: 'dir2'},
        {tag: 'file', name: 'file1'}
      ]
      Vue.component('tree',{
        template: '#tree',
        data(){
          return {
            files
          }
        }
      })
      Vue.component('folder',{
        template: '#folder',
        props: ['file'],
        methods: {
          toggleExpand: function(){
            this.isOpen = !this.isOpen
          }
        },
        data: function(){
          return {
            isOpen: false
          }
        }
      })
      new Vue({
        el: '#app'
      })
    </script>
  </body>
</html>
